/*---------------ELEMENTS PRINCIPAUX ------------------------------------------------------*/
body{
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 0px;
    
    
}

#blocpage{
    width: 90%;
    max-width: 1200px;
    margin:auto;

}



h2{
    font-size:large;
    font-weight: bold;
}

p{
    font-size: small;  
}

@media all and (max-width: 768px){
    #blocpage{
        width: 95%;
        margin:auto;
    }
}
/*---------------HEADER -------------------------------------------------------------------*/
header{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.logo{
    margin: 15px auto 0 0;
}

header ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 0px;
}

header li{
    margin-right: 25px;
    
}

header a{
    display: block;
    text-decoration: none;
    color:black;
    padding-top: 30px;

}

.menu a{
    border-top: 1px solid transparent;
    border-bottom: 3px solid transparent;
}

.menu a:hover{
    border-top: 1px solid #0065FC;
    color:#0065FC;
}

#inscription a{
    border-top: 1px solid transparent;
    color:#0065FC;
    font-weight: bold;
}

#inscription a:hover{
    color: #F2F2F2;
}

@media all and (max-width: 768px){
    header{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header nav{
        flex-basis: 100%;
        width: 100%;
        order: 3;
    }

    header ul{
        justify-content: space-evenly;
        padding: 0;
        margin: auto;
    }

    .menu{
        flex:auto;
        text-align: center;
        font-size: larger;
        margin:auto;        
    }

    .menu a{
        padding-bottom: 15px;
        border-bottom: 3px solid #F2F2F2;
    }

    .menu a:hover{
        border-top: 1px solid transparent;
        border-bottom: 3px solid #0065FC;
    }
}

/*---------------RECHERCHE ----------------------------------------------------------------*/

#recherche h2{
    margin-bottom: 0px;
}

#recherche p{
    margin-top: 5px;
    margin-left: 2px;
}

#champrecherche{
    display: flex;

}

#champrecherche i{
    background-color: #F2F2F2;
    padding: 10 10 10 10;
    border-top-left-radius: 30% ;
    border-bottom-left-radius: 30%;
}

#champrecherche input{
    height: 36px;
    border: 1px solid transparent;
    padding-left: 5px;
    font-weight: bold;
}

#champrecherche button{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color:white;
    height: 36px;
    border: none;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Raleway", sans-serif;
    cursor:pointer;
    
}

@media screen and (max-width: 768px){
    #champrecherche{
        flex-basis: 100%;
        width: 100%;
    }
    
    #champrecherche input{
        flex-grow: 2;
        text-align: center;
        border: 1px solid #F2F2F2;
    }
}

/*---------------FLITRES -----------------------------------------------------------------*/

#lesfiltres{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size:medium;
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor:pointer;
}

.filtre{
    display:flex;
    align-items: center;
    margin-left: 20px;
}

.filtre i{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    z-index:1;
}

.filtre span{
    display:block;
    padding: 10px 10px 9px 35px;
    position: relative;
    right: 20px;
    border-top:1px solid #F2F2F2;
    border-right:1px solid #F2F2F2;
    border-bottom:1px solid #F2F2F2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.filtre:hover i{
    background-color: #0065FC;
    color:white;
}
.filtre:hover span{
    border-top:1px solid #0065FC;
    border-right:1px solid #0065FC;
    border-bottom:1px solid #0065FC;
}

#info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#info i{
    display:flex;
    align-items:center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #F2F2F2;
}

#info span{
    display: inline-block;
    margin-left: 15px;
    font-size:small;
}

@media screen and (max-width: 768px){
    .filtre{
        margin-top:10px;
    }
}

/*---------------HEBERGEMENT --------------------------------------------------------------*/
#hebergement{
    display:flex;
    justify-content: space-between;
    border-radius: 20px;
    box-sizing:content-box;
    margin:0;
}

#logements{
    display:flex;
    width: 67%;
    flex-direction: column;
    border-radius: 20px;
    background-color: F2F2F2;
    
}

#logements h2{
    margin-left: 30px;
}

#conteneurcartes{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    margin: 0 20px 0 20px;    
}

.carte{
    text-decoration: none;
    color:black;
    width:25%;
    height:200px;
    flex:1 1 auto;
    border-radius: 20px;
    box-shadow: 3px 3px 5px gray;
    background: white;
    padding: 4px;
    margin: 10px;
}

.imagecarte1{
    background-image: url(images/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size:cover;
    background-position:center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60%;
    flex:1;
}   

.imagecarte2{
    background-image: url(images/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60%;
    flex:1;
}   

.imagecarte3{
    background-image: url(images/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60%;
    flex:1;
}   

.imagecarte4{
    background-image: url(images/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60%;
    flex:1;
}   

.imagecarte5{
    background-image: url(images/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60%;
    flex:1;
}   

.imagecarte6{
    background-image: url(images/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60%;
    flex:1;
}   

.infocarte h3{
    font-size:small;
    font-weight: bolder;
    margin-bottom: 3px;
}

.infocarte p{
    margin-top: 3px;
    margin-bottom: 3px;
}

.etoiles{
    margin-top: 3px ;
}

#afficherplus{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*---------------POPULAIRES ---------------------------------------------------------------*/
#populaire{
    display:flex;
    flex-direction: column;
    width: 30%;
    border-radius: 20px;
    background-color: F2F2F2;
}

#titrepopulaire{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin: 0 20 0 20;    
}

#conteneurpopulaires{
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap:wrap;
    margin: 0 20px 20px 20px; 

}

.cartepop{
    display:flex;
    flex-direction: row;
    text-decoration: none;
    color:black;
    width:100%;
    height:135px;
    flex:1 1 auto;
    border-radius: 20px;
    box-shadow: 3px 3px 5px gray;
    background: white;
    padding: 4px;
    margin: 10px;
}

.infocartepop{
    width: 60%;
    height: 40%;
    margin-left: 5px;
}

.infocartepop h3{
    font-size:small;
    font-weight: bolder;
    word-wrap: normal;
    margin-bottom: 3px;
}

.infocartepop p{
    margin-top: 3px;
    margin-bottom: 3px;
}


.cartepop1{
    background-image: url(images/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 40%;
    flex:1;
}

.cartepop2{
    background-image: url(images/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 40%;
    flex:1;
}

.cartepop3{
    background-image: url(images/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 40%;
    flex:1;
}

@media screen and (max-width: 768px){
    #blocpage{
        width:100%;
    }

    #hebergement{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    #logements{
        width: 100%;
    }
    
    #populaire{
        width: 100%;
    }

    .carte{
        width: 100%;
        height:250px;
    }

    .cartepop{
        width:100%;
        height:200px;
    }


}

/*---------------ACTIVITES ----------------------------------------------------------------*/


/*---------------FOOTER -------------------------------------------------------------------*/


/*---------------MEDIA QUERIES ------------------------------------------------------------*/


/*---------------EMBELISSEMENT ------------------------------------------------------------*/


/*---------------CSS PICTOS FONTAWESOME----------------------------------------------------*/
.fa-money-bill-wave{
    color:#0065FC;
}

.fa-child{
    color:#0065FC;
}

.fa-heart{
    color:#0065FC;
}

.fa-dog{
    color:#0065FC;
}

.fa-info{
    color:#0065FC;
}

.fa-star {
    color: #0065FC;
}

.fa-star.gris{
    color:rgb(187, 187, 187);
}